<script setup>
import { computed } from "vue";
import { useStore } from "vuex";

const store = useStore();
const user = computed(() => store.state.user);
const questions = computed(() => store.state.questions);
</script>
<template>
  <h1>Questions for {{ user.username }}</h1>
  <p>
    {{ questions[0].question }}
  </p>
  
</template>
