<script setup>
import { pushScopeId } from "vue";
import { useRouter } from "vue-router";
import StartForm from "../components/StartForm.vue";

const router = useRouter();

const handleAuthSuccess = () => {
  console.log("user is available");
  router.push("/questions");
};
</script>

<template>
  <main class="container mx-auto px-4">
    <h1 class="mb-3 text-2xl">
      Type in user name and pick game options to get started
    </h1>
    <StartForm @onAuthSuccess="handleAuthSuccess" />
  </main>
</template>
