<script setup>
import { ref } from "vue";
import { apiUserSubmit } from "../api/users";
import { apiFetchQuestions } from "../api/questions";

import { useStore } from "vuex";

const username = ref("");
const difficulty = ref("");
const amount = ref("");
const category = ref("");
const displayError = ref("");

const store = useStore();
const emit = defineEmits(["onAuthSuccess"]);

// const onSuccess = (user,difficulty,amount,category) => {
const onSuccess = (user) => {
  store.commit("setUser", user); // commit = mutations
  //   store.commit("setQuestionSettings", difficulty,amount,category]) // commit = mutations
  emit("onAuthSuccess");
};

// TODO: Better handling of API errors/problems
// TODO: Consider moving parts of onSubmit code to actions in store.js
const onSubmit = async () => {
  const [error, user] = await apiUserSubmit(username.value);
  console.log("USER", user);
  if (error !== null) {
    displayError.value = error;
  } else {
    // add selected game options to user object
    user.options = {
      difficulty: difficulty.value,
      amount: amount.value,
      category: category.value,
    };
    onSuccess(user);
  }
  const [response_code, questions] = await apiFetchQuestions(
    difficulty.value,
    amount.value,
    category.value
  );
  console.log("QUESTIONS", questions);
  if (response_code !== 0) {
    displayError.value = response_code;
    console.log("response_code:", response_code);
  } else {
    store.commit("setQuestions", questions);
  }
};
</script>

<template>
  <form @submit.prevent="onSubmit" class="mb-3">
    <!-- prevent reloading; want full control over reload/send -->
    <fieldset class="mb-3">
      <label for="username" class="block">Username</label>
      <input
        type="text"
        id="username"
        placeholder="e.g., johndoe@email.com"
        class="border border-slate-300"
        v-model="username"
      />
    </fieldset>

    <br />

    <fieldset class="mb-3">
      <h2>Please, select the difficulty, number of questions and category:</h2>
      <br />

      <label for="trivia_difficulty" class="block">Select Difficulty: </label>
      <select
        name="trivia_difficulty"
        class="border border-slate-300"
        v-model="difficulty"
      >
        <option value="0">Any Difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>

      <br />

      <!-- value="10" -->

      <label for="trivia_amount" class="block">Number of Questions:</label>
      <input
        v-model="amount"
        type="number"
        name="trivia_amount"
        id="trivia_amount"
        min="1"
        max="50"
        class="border border-slate-300"
      />

      <br />

      <label for="trivia_category" class="block">Select Category: </label>
      <select
        name="trivia_category"
        class="border border-slate-300"
        v-model="category"
      >
        <option value="0">Any Category</option>
        <option value="9">General Knowledge</option>
        <option value="10">Entertainment: Books</option>
        <option value="11">Entertainment: Film</option>
        <option value="12">Entertainment: Music</option>
        <option value="13">Entertainment: Musicals &amp; Theatres</option>
        <option value="14">Entertainment: Television</option>
        <option value="15">Entertainment: Video Games</option>
        <option value="16">Entertainment: Board Games</option>
        <option value="17">Science &amp; Nature</option>
        <option value="18">Science: Computers</option>
        <option value="19">Science: Mathematics</option>
        <option value="20">Mythology</option>
        <option value="21">Sports</option>
        <option value="22">Geography</option>
        <option value="23">History</option>
        <option value="24">Politics</option>
        <option value="25">Art</option>
        <option value="26">Celebrities</option>
        <option value="27">Animals</option>
        <option value="28">Vehicles</option>
        <option value="29">Entertainment: Comics</option>
        <option value="30">Science: Gadgets</option>
        <option value="31">Entertainment: Japanese Anime &amp; Manga</option>
        <option value="32">Entertainment: Cartoon &amp; Animations</option>
      </select>

      <br />
    </fieldset>

    <button type="submit" class="bg-indigo-500 text-white p-3 rounded">
      Submit
    </button>

    <div v-if="displayError" class="bg-red-500 text-white p-3">
      <p>{{ displayError }}</p>
    </div>
  </form>
</template>
